/* * {
    box-sizing: border-box;
} */

body {
    background-color: #fffffe;
    color: #2d334a;
    font-family: 'Lato', sans-serif;
}

#navbar {
    background-color: #bae8e8;
    height: 100px;
}

.card-header {
    background-color: #f5db45d5;
}

#card-size {
    width: 250px;
}


